@using SolrNet
@model BlockbusterRentals.ViewModels.SearchAgainViewModel
@{
    ViewBag.Title = "Home Page";
}
<body style="background-image: linear-gradient(90deg, #363e98, #fae800);
  background-image: url('/Content/bb outside color.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 100%;
      height: 100vh;">
   


    <div id="searchArea" style="position: absolute; top: 50%; transform: translate(0%, -50%); vertical-align: middle; width: 100%; text-align: center;margin-bottom: 30px;">


            <img src='/Content/blockbuster search logo.png' alt="Image" style="width: 50%; min-width: 180px; justify-content: center;"></img>
            @using (Html.BeginForm("Search", "Home"))
            {
                <div style="margin-bottom: 20px;">
                    <label style="font-weight: 900; color: #fae800">Search For:</label>
                    @Html.RadioButtonFor(m => m.SearchQuery.queryType, 0, new { @checked = "checked" }) <label for="choice-0">Everything</label>
                    @Html.RadioButtonFor(m => m.SearchQuery.queryType, 1) <label for="choice">Title</label>
                    @Html.RadioButtonFor(m => m.SearchQuery.queryType, 2) <label for="choice">Description</label>
                    @Html.RadioButtonFor(m => m.SearchQuery.queryType, 3) <label for="choice">Release Date</label>
                    @Html.RadioButtonFor(m => m.SearchQuery.queryType, 4) <label for="choice">Genre</label>
                    @Html.RadioButtonFor(m => m.SearchQuery.queryType, 5) <label for="choice">Cast</label>
                    @Html.RadioButtonFor(m => m.SearchQuery.queryType, 6) <label for="choice">Rating</label>
                </div>


                <div style="display: inline-flex" id="searching">
                    <div class="form-group" id="searchBox">
                        @Html.TextBoxFor(m => m.SearchQuery.queryString, new { @class = "form-control", placeholder = "Enter your search" })
                    </div>
                    <button type="submit" class="btn btn-primary" id="searchButton">Search</button>

                </div>

            }

        </div>




</body>

<style>

    #searchBox {
        margin-right: 1rem;
        width: 100%;

    }

    #searchButton {
        font-weight: 600;
        text-align: center;
        padding: 0;
        width: 6rem;
    }

        #searchButton:hover {
            font-weight: 900;
            text-align: center;
            padding: 0;
            width: 6rem;
        }
    

    input[type="radio"] {
        appearance: none;

        width: 1em;
        height: 1em;
        border: 1px solid #999;
        border-radius: 50%;
        background-color: #363e98;
vertical-align: middle;
margin: 0;
padding: 0;

    }
        input[type="radio"]:checked {
            background-color: #fae800;
            border: 4px solid #363e98;
        }
       
       
    input[type="radio"]:hover {
       
        background-color: #fae800;
    }

     

    </style>